<div class="container" >
    <h3 class="center">Steps to find Falcone </h3>
     <ul>
<li>Select all four planets one by one</li>
<li>Based on the planet seletion available and possible vehicle suggestion will be enabled</li>
<li>after choosing 4 planets and 4 vehicles click find button</li>
<li>If planet found you will be redirected to sucess</li>
<li>Else try again for luck ..</li>




     </ul>
      <div><button routerLink="/" class="btn btn-lg btn-primary">Start Search Again</button></div>
    </div>